{% extends 'base.html.twig' %}

{% block title 'A préparer' %}

{% block body %}
	{% include 'menu/_app.html.twig' %}

	<h5>Commandes à préparer</h5>

	{% for commande in commandes %}
		{% for plat in commande.plats %}
			{% if plat.prepare == 1 %}
				<div>
					- {{ plat.nom }}
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}