{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<div style='text-align: center'>
		<h5>Changer le mot de passe</h5>

		{{ form_start(form) }}
			{{ form_label(form.password, 'Mot de passe', {'attr': {'class':'form-label'}}) }}
			{{ form_widget(form.password, {'attr': {'class':'form-control'}})}}
			<br>

			<button class='btn btn-success'>Modifier le mot de passe</button>
		{{ form_end(form) }}
	</div>
{% endblock %}