{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<h5>Changer le mot de passe</h5>

	{{ form_start(form) }}
		<button>Modifier</button>
	{{ form_end(form) }}
{% endblock %}