{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<div style='text-align: center'>
		<a href='{{ path('admin_categorie_nouveau') }}'>
			<button class='btn btn-success'>Créer une catégorie</button>
		</a>
		<br>
		<br>
		<a href='{{ path('admin') }}'>
			<button class='btn btn-danger'>Créer un plat</button>
		</a>
		<br>
		<br>
		<a href='{{ path('admin') }}'>
			<button class='btn btn-warning'>Créer un menu</button>
		</a>
		<br><br>
		<a href='{{ path('admin') }}'>
			<button class='btn btn-info'>Changer le mot de passe</button>
		</a>
	</div>

{% endblock %}