{% extends 'base.html.twig' %}

{% block title %}La Table des Oursons - Commander{% endblock %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}
	<br><br><br><br>

	{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type='submit'>Enregistrer</button>
	{{ form_end(form) }}
		
	{% for menu in menus %}
		{% for categorie in menu.categories %}
			{% for plat in categorie.plats %}
				<img src='{{ asset('img/' ~ plat.image) }}' width='200px'>
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endblock %}