{% extends 'base.html.twig' %}

{% block title 'La Table des Oursons - Confirmation' %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}

	<div style='text-align: center'>
		<h5>{{ 'qrcode.consigne'|trans }}</h5>
	
		<img src='{{ qrcode }}'>
		<br><br>

		<a href='/commander'>
			<button class='btn btn-success'>{{ 'qrcode.retour_commande'|trans }}</button>
		</a>
	</div>
{% endblock %}