{% extends 'base.html.twig' %}

{% block title 'La Table des Oursons - '~'menu_bar.restaurant'|trans %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}

	{% for texte in textes %}
		<div>
			<p class='.container-sm text-center'>
				{% set textes = texte.texteFr|split('¤') %}
				{% for texte in textes %}
					{% if texte == '<ourson>' %}
						<img src='{{ asset('img/favicon.png') }}' width='20px'>
					{% elseif texte == '<ourson_mirror>' %}
						<img class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
					{% else %}
						{{ texte }}
					{% endif %}
				{% endfor %}
			</p>
		</div>
	{% endfor %}

{% endblock %}