{% extends 'base.html.twig' %}

{% block title %}La Table des Oursons - Le restaurant{% endblock %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}
	<br><br><br><br>

	<div>
	    <p class=".container-sm text-center">Le restaurant <span class="ourson">Le Table des Oursons</span> vous accueille tous les jours de 12h00 à 15h00 et de 18h00 à 23h00</p>
	</div>

	<div>
		<p class=".container-sm text-center">Avant, pendant ou après votre session de ski, venez vous restaurez avec nos spécialités locales.
		Nous vous proposons des menus raclettes, fondues, tartiflettes et pierrades.
		Les pommes de terre, fromages et charcuteries pour la raclette sont à volontés.
		En guise de fromages et de desserts, le restaurant vous propose un plateau de fromages et de desserts.
		Nous servons également de la cuisine française traditionnelle venant de toutes régions</p>
	</div>

	<div>
		<p class=".container-sm text-center">Le restaurant propose également des activités comme le réveillon de Noël avec l'arrivée du Père Noël le soir du 24 décembre et le réveillon du Nouvel An.
		Le restaurant possède une salle de jeux avec un billard et un baby-foot.
		Le restaurant organise des anniversaires, baptèmes, mariages, séminaires ou tout autres évènements</p>
	</div>

	<div>
		<p class=".container-sm text-center">Nous acceptons le paiement en espèces, chèques, cartes bancaires et tickets restaurants</p>
	</div>

{% endblock %}